{% extends 'base.html' %}

{% block active %}
    <li class="mt">
        <a href="/index">
            <i class="fa fa-dashboard"></i>
            <span>首页</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="glyphicon glyphicon-leaf"></i>
            <span>节点</span>
        </a>
        <ul class="sub">
            <li><a href="/addslave">添加节点</a></li>
            <li><a href="/listallslave">节点状态</a></li>
        </ul>
    </li>

    <li class="sub-menu">
        <a class="active" href="javascript:;">
            <i class="fa fa-th"></i>
            <span>任务</span>
        </a>
        <ul class="sub">
            <li class="active"><a href="/addtask">添加任务</a></li>
            <li><a href="/listalltask">任务状态</a></li>
        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-bar-chart-o"></i>
            <span>数据</span>
        </a>
        <ul class="sub">
            <li><a href="/listnewsblogdata">新闻博客</a></li>
            <li><a href="/listebdata">电子商务</a></li>
        </ul>
    </li>

{% endblock %}

{% block neirong %}
    <div class="well">
        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i>添加任务</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div class="form-panel" style="width:95%;margin:0 auto">
                            <form style="width:90%;margin:0 auto" class="form-horizontal style-form" method="post">
                                <input type='button' class='btnAdd' value='添加' hidden="hidden"/>
                                <div id="father">
                                    <form method="post" action="{{ url_for('addtask') }}" name="conform"
                                          class="confirm">
                                        <fieldset>
                                            <!--<legend>任务</legend>-->
                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-2 control-label">任务入口url</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control round-form start_url"
                                                           name="start_url">
                                                </div>
                                            </div>
                                            </br>
                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-2 control-label">任务优先级</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control round-form priority"
                                                           name="priority">
                                                </div>
                                            </div>
                                            </br>
                                            <div class="form-group">
                                                <div class="col-sm-2 col-sm-2 control-label" style="float:left">任 务 类
                                                    型
                                                </div>
                                                <div class="col-sm-10">
                                                    <select class="form-control testName" name="type">
                                                        <option value="1" autofocus="true">电商类</option>
                                                        <option value="0">新闻博客类</option>
                                                    </select>
                                                </div>
                                            </div>
                                            </br>
                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-2 control-label">允许爬取域名</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control round-form testName"
                                                           name="alloweddomains">
                                                </div>
                                            </div>
                                            </br>


                                            <!--<input type="text" placeholder="type"  name="type" class="testName" hidden="hidden"/>-->

                                            <div>
                                                <div style="margin:0 auto; width:600px; height:70px;"><!-- /保持按钮居中 -->
                                                    <div class="btn-group btn-group-justified">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-theme03"
                                                                    id="btn_addrules">添加一个规则
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-theme05"
                                                                    id="btn_deleterules">删除一个规则
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>


                                                <br>
                                                <div class="app1" name="app1">
                                                </div>
                                            </div>
                                            <br>
                                            <input type='button' class='btnDel' value='delete the task'
                                                   onclick="$(this).parent().remove();" hidden="hidden"/>
                                        </fieldset>
                                        <br>
                                        <div style="margin:0 auto; width:600px; height:70px;">
                                            <button type="submit" class="btn btnSub btn-primary btn-lg btn-block"
                                                    id="btn_sub" onclick="tishi()">提交
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <! --/wrapper -->
        </section><!-- /MAIN CONTENT -->
    </div>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
    </footer>
    <!--footer end-->
    </section>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript">

        function tishi() {
            alert("提交成功");
        }

        var blockNum = 10;
        $(document).ready(function () {
            var parentDom = $('#father').find("form"), oriDom = parentDom.children(":first");
            $('.btnAdd').click(function () {
                var clLength = parentDom.children().length;
                if (blockNum > clLength) {
                    var nowDom = oriDom.clone();
                    nowDom.children(":first").text('任务');
                    parentDom.append(nowDom);
                }
                else
                    return false;
            });
        });

        $(document).ready(function () {
            var click_count = new Array();
            for(i = 0;i < 100;i++){click_count[i]=0;}
            $("#btn_addrules").click(function () {
                var html1 = ' <div style="width:90%;margin:0 auto" class="well ss add" id=' + ($('.ss').size() + 1) + '>'
                    + '<input type="text" class="form-control round-form" placeholder="re_url" name="re_url' + '.' + ($('.ss').size() + 1) + '"/><br>'
                    + '<select name="rule_type' + '.' + ($('.ss').size() + 1) + '" class="form-control testName">'
                    + '<option value="0" autofocus="true">XPATH匹配</option>'
                    + '<option value="1">元素CLASS NAME匹配</option>'
                    + '<option value="2">CSSSELECTOR匹配</option>'
                    + '<option value="3">元素ID匹配</option>'
                    + '<option value="5">元素NAME匹配</option>'
                    + '<option value="6">元素TAG_NAME匹配</option>'
                    + '</select><br>'
                    + '<div class="col-sm-3"></div>'
                    + '<input  type="button" value="add itemcontents" class="col-sm-3 add_itemcontents btn btn-info btn-sm" id=add_"' + ($('.ss').size() + 1) + '">'
                    + '<input type="button" value="delete" class="col-sm-3 btn_deleteitem btn btn-deflaut btn-sm" id="' + ($('.ss').size() + 1) + '"><br><br>'
                    + '<div id="items' + ($('.ss').size() + 1) + '" class="app2"><br>' + '</div>'
                    + '</div><br>';
                $(".app1").append(html1);

                $(".add_itemcontents").click(function () {

                    var str1 = $(this).parent("div").attr("id");
                    var str2 = ".well" + str1;
                    var str5 = $(str2).size() + 1;
                    var str3 = str1 + "." + str5;
                    var str4 = "#items" + str1;

                    var num = parseInt($(this).parent("div").attr("id"),10);
{#                    alert(num);#}
                    if(click_count[num] != $(".ss").size()-num)
                    {
                        click_count[num]++;
                        return;
                    }

                    var html2 =
                        '<div style="margin:0 auto; width:85%; height:35px;" class="form-inline well' + str1 + '"id ="' + str3 + '">' +
                        '<input style="width:50%" class="form-control round-form" type="text" placeholder="key" name="key' + '.' + str3 + '"/>' +
                        '<input style="width:40%" class="form-control round-form" type="text" placeholder="content_content" name="content_content' + '.' + str3 + '"/>'
                        + '</div><br>';

                        $(this).parents("div").find(str4).append(html2);
                        click_count[num]=0;
                });

                $(".btn_deleteitem").click(function () {
                    var num = parseInt($(this).parent("div").attr("id"),10);
                    if(click_count[num] != $(".ss").size()-num)
                    {
                        click_count[num]++;
                        return;
                    }
                    var str1 = $(this).attr("id");
                    var str2 = ".well" + str1 + ":last";
                    $(str2).next("br").remove();
                    $(str2).remove();
                    click_count[num]=0;
                });
            });

            $("#btn_deleterules").click(function () {
                if ( $('.ss').size() >= 0) {
                    var str1 = "#" + $('.ss').size();
                    $(str1).next("br").remove();
                    $(str1).remove();
                }
            });
        });
    </script>
{% endblock %}